body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5rem;
  font-weight: lighter;
  padding: 10px;
  color: white;
}

.gradient {
  background: linear-gradient(-45deg, #f77b56, #f04587, #1ea3d4, #20dfb3);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
