.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
  font-family: fantasy;
}

.bg1 {
  background-image: url("bg1.jpg");
}

.bg2 {
  background-image: url("bg2.jpg");
}

.bg3 {
  background-image: url("bg3.jpg");
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.normal {
  background: #333;
}
