body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
}

section > .container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section > .container > h3 {
  margin: 0;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 10;
  padding: 20px 60px;
  background-color: rgba(255, 255, 255, 0.501);
  backdrop-filter: blur(10px);
  border: 5px white solid;
  border-radius: 20px;
}

/* scroll overlap effect */
section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  top: 0;
  left: 0;
}
