.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.container > div {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 6px 4px 10px 2px #e1e1e17d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.815);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2em;
}

.stripes-1 {
  background-color: #4caeff;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 20px,
    #acd8fc 20px,
    #acd8fc 40px
  );
}

.stripes-2 {
  background-color: #fed702;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 15px,
    #fff940 10px,
    #fed702 35px
  );
}

.stripes-3 {
  background-color: #f01411;
  background-image: repeating-linear-gradient(
    15deg,
    transparent,
    transparent 20px,
    #c62828 20px,
    #c62828 25px
  );
}

.stripes-4 {
  background: repeating-radial-gradient(
    circle at right center,
    #333333,
    #333333 10px,
    #999999 10px,
    #999999 20px
  );
}

.stripes-5 {
  background-image: radial-gradient(
    circle at top right,
    #cdb4db,
    #cdb4db 20%,
    #ffc8dd 20%,
    #ffc8dd 40%,
    #ffafcc 40%,
    #ffafcc 60%,
    #bde0fe 60%,
    #bde0fe 80%,
    #a2d2ff 80%
  );
}

.stripes-6 {
  background-image: radial-gradient(#90caf9 20%, transparent 20%),
    radial-gradient(#1e88e5 20%, transparent 20%);
  background-color: #64b5f6;
  background-position: top left, 50px 50px;
  background-size: 100px 100px;
}
